$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1264px;
$screen-xl: 1904px;

$background: #161A28;
$grey: #C4C4C4;
$light-grey: #DDDDDE;

$primary: #6C5DD3 !default;
$primary-light: #8E92FF;
$primary-dark: rgba(108, 93, 211, 0.5);

$green: #1DB17C;
$red: #FE004D;

$upgrade: linear-gradient(90deg, #FFDC7B 0%, #F8CC55 100%);
$light-blue: #E1EBF4;

$wt-background: #29282D;
$wt-background-light: #29282D;

$brand-font: 'SuisseIntl-Regular';
$brand-font-bold: 'SuisseIntl-SemiBold';

@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('/misc/fonts/SuisseIntl-Regular.otf');
}

@font-face {
    font-family: 'SuisseIntl-SemiBold';
    src: url('/misc/fonts/SuisseIntl-SemiBold.otf');
}
